<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="14x14" href="assets/images/favicon.png">
    <title>Leave Portal</title>
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link href="css/style.css" rel="stylesheet">
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar card-no-border" style="background-color: #DFEDE2;">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="main-wrapper">
        {{> header }}
        <div class="page-wrapper">
            <div class="container-fluid">
                 <nav class="navbar navbar-expand-lg bg-body-tertiary py-3">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav nav-wrap">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/dashboard"><i
                                            class="fa-solid fa-gauge"></i> Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/profile"><i class="fas fa-user-check"></i> Profile</a>
                                </li>
                                {{!-- <li class="nav-item">
                                    <a class="nav-link" href="/basic-table"><i class="fa-solid fa-calendar-days"></i>
                                        Leave</a>
                                </li> --}}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false"><i class="fa-solid fa-calendar-days"></i>
                                        Leave</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/basic-table">All Leaves</a></li>
                                        <li><a class="dropdown-item" href="#">Leaves Qouta</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/attendance"><i class="fa-solid fa-file-pen"></i>
                                        Attendance</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/createleave"><i class="fa-solid fa-plus"></i> Create
                                        Leave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/register"><i class="fa-solid fa-plus"></i> Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active-btn" href="/alluser"><i class="fa-solid fa-plus"></i> All user</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/role"><i class="fa-solid fa-plus"></i> Add Department</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                {{!-- <div class="row page-titles">
                    <div class="col-md-12 align-self-center">
                        <nav class="nav-wrap">
                            <li> <a href="/dashboard"><i class="fa-solid fa-gauge"></i>
                                    Dashboard</a> </li>
                            <li> <a href="/profile"><i class="fas fa-user-check"></i> Profile</a></li>
                            <li> <a href="/basic-table"><i class="fa-solid fa-calendar-days"></i> Leave</a> </li>
                            <li> <a href="/attendance"><i class="fa-solid fa-file-pen"></i> Attendance</a> </li>
                            <li> <a href="/createleave"><i class="fa-solid fa-plus"></i> Create Leave</a> </li>
                            <li> <a href="/register"><i class="fa-solid fa-plus"></i>
                                    Register</a> </li>
                            <li> <a class="active-btn" href="/alluser"><i class="fa-solid fa-plus"></i> All user</a>
                            </li>
                            <li> <a href="/role"><i class="fa-solid fa-plus"></i>add department</a> </li>
                        </nav>
                    </div>
                </div> --}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <section class="faq-container" aria-label="Frequently Asked Questions">
                                    <details>
                                        <summary>
                                            <span class="faq-title">New registered users</span>
                                            <!-- Plus Icon -->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-circle-plus expand-icon" width="24"
                                                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#303651"
                                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                                <path d="M9 12l6 0"></path>
                                                <path d="M12 9l0 6"></path>
                                            </svg>
                                            <!-- Minus Icon -->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-circle-minus expand-icon" width="24"
                                                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#303651"
                                                fill="none" stroke-linecap="round" stroke-linejoin="round"
                                                style="display: none;">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                                <path d="M9 12l6 0"></path>
                                            </svg>
                                        </summary>
                                        <div class="faq-content">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-primary">Name</th>
                                                            <th class="text-primary">Email</th>
                                                            <th class="text-primary"> Employee ID</th>
                                                            <th class="text-primary"> Department</th>
                                                            <th class="text-primary"> Role</th>
                                                            <th class="text-primary"> Edit Profile</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Ahmad Hassan</td>
                                                            <td>Ahmad@chatpandas.com</td>
                                                            <td>63096</td>
                                                            <td>Data Scraping</td>
                                                            <td>Front-end Developer</td>
                                                            <td><a href="/admin"
                                                                    class="active-btn btn btn-primary">Create
                                                                    Profile</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Daniyal</td>
                                                            <td>daniyal@chatpandas.com</td>
                                                            <td>63098</td>
                                                            <td>Data Scraping</td>
                                                            <td>Front-end Developer</td>
                                                            <td><a href="/admin"
                                                                    class="active-btn btn btn-primary">Create
                                                                    Profile</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Ahmer</td>
                                                            <td>ahmer@chatpandas.com</td>
                                                            <td>63099</td>
                                                            <td>Data Scraping</td>
                                                            <td>Front-end Developer</td>
                                                            <td><a href="/admin"
                                                                    class="active-btn btn btn-primary">Create
                                                                    Profile</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Amad</td>
                                                            <td>amad@chatpandas.com</td>
                                                            <td>63054</td>
                                                            <td>Data Scraping</td>
                                                            <td>Front-end Developer</td>
                                                            <td><a href="/admin"
                                                                    class="active-btn btn btn-primary">Create
                                                                    Profile</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Ilmas</td>
                                                            <td>ilmas@chatpandas.com</td>
                                                            <td>63044</td>
                                                            <td>Data Scraping</td>
                                                            <td>Front-end Developer</td>
                                                            <td><a href="/admin"
                                                                    class="active-btn btn btn-primary">Create
                                                                    Profile</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Zeeshan</td>
                                                            <td>zeeshan@chatpandas.com</td>
                                                            <td>63069</td>
                                                            <td>Data Scraping</td>
                                                            <td>Front-end Developer</td>
                                                            <td><a href="/admin"
                                                                    class="active-btn btn btn-primary">Create
                                                                    Profile</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </details>
                                    <details>
                                        <summary>
                                            <span class="faq-title">All users </span>
                                            <!-- Plus Icon -->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-circle-plus expand-icon" width="24"
                                                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#303651"
                                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                                <path d="M9 12l6 0"></path>
                                                <path d="M12 9l0 6"></path>
                                            </svg>
                                            <!-- Minus Icon -->
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-tabler icon-tabler-circle-minus expand-icon" width="24"
                                                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#303651"
                                                fill="none" stroke-linecap="round" stroke-linejoin="round"
                                                style="display: none;">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                                <path d="M9 12l6 0"></path>
                                            </svg>
                                        </summary>
                                        <div class="faq-content">
                                            <div class="row my-3">
                                                <div class="col">
                                                    <input type="text" class="DateInput form-control"
                                                        placeholder="Employee ID" required style="min-height: 20px;">
                                                </div>
                                                <div class="col">
                                                    <input type="text" class="DateInput form-control"
                                                        placeholder="Email" required style="min-height: 20px;">
                                                </div>
                                                <div class="col my-1">
                                                    <button class="active-btn btn btn-primary">Search</button>
                                                </div>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-primary">Name</th>
                                                            <th class="text-primary">Email</th>
                                                            <th class="text-primary"> Employee ID</th>
                                                            <th class="text-primary"> Department</th>
                                                            <th class="text-primary"> Role</th>
                                                            <th class="text-primary"> Edit Profile</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Ahmad Hassan</td>
                                                            <td>Ahmad@chatpandas.com</td>
                                                            <td>63096</td>
                                                            <td>Data Scraping</td>
                                                            <td>Front-end Developer</td>
                                                            <td><a href="/admin" class="active-btn btn btn-primary">Edit
                                                                    Profile</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Daniyal</td>
                                                            <td>daniyal@chatpandas.com</td>
                                                            <td>63098</td>
                                                            <td>Data Scraping</td>
                                                            <td>Front-end Developer</td>
                                                            <td><a href="/admin" class="active-btn btn btn-primary">Edit
                                                                    Profile</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Ahmer</td>
                                                            <td>ahmer@chatpandas.com</td>
                                                            <td>63099</td>
                                                            <td>Data Scraping</td>
                                                            <td>Front-end Developer</td>
                                                            <td><a href="/admin" class="active-btn btn btn-primary">Edit
                                                                    Profile</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Amad</td>
                                                            <td>amad@chatpandas.com</td>
                                                            <td>63054</td>
                                                            <td>Data Scraping</td>
                                                            <td>Front-end Developer</td>
                                                            <td><a href="/admin" class="active-btn btn btn-primary">Edit
                                                                    Profile</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Ilmas</td>
                                                            <td>ilmas@chatpandas.com</td>
                                                            <td>63044</td>
                                                            <td>Data Scraping</td>
                                                            <td>Front-end Developer</td>
                                                            <td><a href="/admin" class="active-btn btn btn-primary">Edit
                                                                    Profile</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Zeeshan</td>
                                                            <td>zeeshan@chatpandas.com</td>
                                                            <td>63069</td>
                                                            <td>Data Scraping</td>
                                                            <td>Front-end Developer</td>
                                                            <td><a href="/admin" class="active-btn btn btn-primary">Edit
                                                                    Profile</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </details>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function toggleIcon(expandIconPlus, expandIconMinus, isOpen) {
            if (isOpen) {
                expandIconPlus.style.display = 'none';
                expandIconMinus.style.display = 'block';
            } else {
                expandIconPlus.style.display = 'block';
                expandIconMinus.style.display = 'none';
            }
        }

        function createAccordion(el) {
            let animation = null;
            let isClosing = false;
            let isExpanding = false;
            const summary = el.querySelector('summary');
            const content = el.querySelector('.faq-content');
            const expandIconPlus = summary.querySelector('.icon-tabler-circle-plus');
            const expandIconMinus = summary.querySelector('.icon-tabler-circle-minus');

            function onClick(e) {
                e.preventDefault();
                el.style.overflow = 'hidden';
                if (isClosing || !el.open) {
                    open();
                } else if (isExpanding || el.open) {
                    shrink();
                }
            }

            function shrink() {
                isClosing = true;
                const startHeight = `${el.offsetHeight}px`;
                const endHeight = `${summary.offsetHeight}px`;
                if (animation) {
                    animation.cancel();
                }
                animation = el.animate({
                    height: [startHeight, endHeight]
                }, {
                    duration: 400,
                    easing: 'ease-out'
                });
                animation.onfinish = () => {
                    toggleIcon(expandIconPlus, expandIconMinus, false);
                    onAnimationFinish(false);
                };
                animation.oncancel = () => {
                    toggleIcon(expandIconPlus, expandIconMinus, false);
                    isClosing = false;
                };
            }

            function open() {
                el.style.height = `${el.offsetHeight}px`;
                el.open = true;
                window.requestAnimationFrame(expand);
            }

            function expand() {
                isExpanding = true;
                const startHeight = `${el.offsetHeight}px`;
                const endHeight = `${summary.offsetHeight + content.offsetHeight}px`;
                if (animation) {
                    animation.cancel();
                }
                animation = el.animate({
                    height: [startHeight, endHeight]
                }, {
                    duration: 350,
                    easing: 'ease-out'
                });
                animation.onfinish = () => {
                    toggleIcon(expandIconPlus, expandIconMinus, true);
                    onAnimationFinish(true);
                };
                animation.oncancel = () => {
                    toggleIcon(expandIconPlus, expandIconMinus, true);
                    isExpanding = false;
                };
            }

            function onAnimationFinish(open) {
                el.open = open;
                animation = null;
                isClosing = false;
                isExpanding = false;
                el.style.height = el.style.overflow = '';
            }

            summary.addEventListener('click', onClick);
        }

        document.querySelectorAll('details').forEach(createAccordion);

    </script>
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script>
        $(document).ready(function () {
            // Add hover functionality to dropdown
            $('.nav-item.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(300);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(300);
            });
        });
    </script>
</body>

</html>